# ════════════════════════════════════════════════════════════
#  Зависимости для скрипта на кассе
#  Устанавливается на КАЖДОМ кассовом ПК
#
#  pip install -r requirements-monitor.txt
# ════════════════════════════════════════════════════════════

pyaudio==0.2.14
webrtcvad==2.0.10
noisereduce==3.0.2
numpy==1.26.3
requests==2.31.0
